@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.footer {
  width: 100%;
  height: 114px;

  box-shadow: 0px -4px 4px rgba(232, 80, 91, 0.25);

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
}

.footer1 {
  padding: 0 140px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 82px;
  background: var(--red-color);
}
.footer2 {
  padding: 0 140px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer2 a {
  text-decoration: none;
  color: var(--black-color);
}

.footer2 a:hover {
  color: var(--red-color);
}

.footer2 a:active {
  color: var(--black-color);
}

.menu a {
  margin: 24px 67px 0 0;

  font-size: 21px;

  color: var(--white-color);
  text-decoration: none;
}

.menu a:last-child {
  margin: 0;
}
