.infoBlock {
  position: relative;
  z-index: 2;

  padding: 90px 38px;

  display: grid;
  grid-template-rows: 112px 102px 115px;

  background: var(--lighterRed-color);
  border-radius: 50px;
}

.imgInfo {
  margin: 0 auto;
}

.nameInfo {
  margin-top: 28px;
  font-family: "Open Sans";
  font-size: 27px;
  font-weight: 700;
  text-align: center;
}

.textInfo {
  margin-top: 6px;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 400;
}
