@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.myBtn {
  padding: 5px 36px;

  color: var(--red-color);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 21px;

  border-radius: 1em;
  border: 1px solid var(--red-color);
  cursor: pointer;
}

.myBtn:hover {
  color: #ffffff;
  background: var(--red-color);
}
.myBtn:active {
  color: var(--red-color);
  background: var(--white-color);
}
