* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.Home {
  height: calc(100% - 194px);
}

:root {
  --red-color: #fe4e5a;
  --lightRed-color: #f38086;
  --lighterRed-color: #f8cbce;
  --gray-color: #455a64;
  --darkGray-color: #263238;
  --veryLight-color: #fafafa;
  --black-color: #000;
  --white-color: #fff;
}
