/* Секция 1 */
.contentUs__section1-h3 {
  margin-top: 89px;
  margin-right: 16px;

  font-size: 64px;
}

.contentUs__section1-info {
  margin-top: 82px;
  margin-bottom: 111px;
}

.contentUs__section1-info-text {
  margin-top: 52px;
  margin-left: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contentUs__section1-info-text-backgroundElement2 {
  margin-top: 12px;
}

/* Секция 2 */
.contentUs__section2 {
  margin-top: 162px;
}

.contentUs__section2-h3 {
  margin-right: 26px;
}

.contentUs__section2-form {
  margin-top: 76px;

  display: grid;
  grid-template-areas: "a b" "c c" "d d";
  row-gap: 45px;
  column-gap: 58px;
}

.contentUs__section2-form-textarea {
  padding: 0 35px 0 35px;
  grid-area: d;

  border: 1px solid var(--red-color);
  border-radius: 20px;

  background: rgba(232, 80, 91, 0.05);

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  color: var(--lightRed-color);

  resize: none;
}

.contentUs__section2-form-textarea::placeholder {
  color: var(--lightRed-color);
}

/* Задний фон */
.contentUs__section1-backgroundElement1 {
  position: absolute;
  top: 106px;
  right: 310px;
}
