@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.h3 {
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 700;

  text-align: center;
}

.h4 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 27px;
}

.p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
}

.content {
  width: 100%;
  padding: 0 140px;
}

.content__section1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.content__section1-info {
  margin-top: 82px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__section1-info-text {
  margin-top: 28px;
}

.content__section1-info img {
  max-width: 804px;
  max-height: 756px;
}

.content__section1-info p:nth-child(1) {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 21px;
}

.content__section1-info h3 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 64px;
}
.content__section1-info p:nth-child(3) {
  margin-top: 4px;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 24px;
}

.content__section2 {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__section2-info {
  margin-top: 90px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 103px;
}

.content__section1-arrow {
  width: 91px;
  height: 91px;
}

.content__section3 {
  margin-top: 412px;
}

.content__section3-info,
.content__section4-info {
  margin-top: 144px;
}

.content__section3-info-text {
  margin-top: 122px;
  margin-left: 146px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content__section3-info-text-h4 {
  width: 100%;
}

.content__section3-info-text-p {
  margin-top: 14px;
  margin-bottom: 102px;
}

.content__section3-info-img {
  max-width: 820px;
  max-height: 547px;
}
.content__section4 {
  margin-top: 322px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__section4-info {
  margin-top: 222px;
}

.content__section4-info-text {
  margin-top: 52px;
}

.content__section4-info-text-p {
  margin-top: 10px;
  margin-bottom: 98px;
}

.content__section4-info-text-p br {
}

.content__section4-img {
  max-width: 808px;
  max-height: 464px;
}

.content__section4-arrow {
  margin-top: 12px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.content__section5 {
  margin-top: 198px;
}
.content__section5-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 128px;
  row-gap: 142px;
}

.content__section5 .infoBlock {
  padding: 34px 96px;

  grid-template-rows: 112px 40px 115px;
}
.content__section5 .nameInfo {
  margin-top: 0;
}

.content__section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__section6-h3 {
  margin: 230px 358px 0;
}

.content__section6-p {
  margin-bottom: 64px;

  font-family: "Open Sans";
  font-weight: 700;
  font-size: 21px;
}
.content__section6-img {
  margin-top: 16px;
  margin-bottom: 68px;
}
