@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.content {
  width: 100%;
  padding: 0 140px;
}

.content__section1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.content__section1-info {
  margin-top: 82px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__section1-info-text {
  margin-top: 28px;
}

.content__section1-info img {
  max-width: 804px;
  max-height: 756px;
}

.content__section1-info p:nth-child(1) {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 21px;
}

.content__section1-info h3 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 64px;
}
.content__section1-info p:nth-child(3) {
  margin-top: 4px;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 24px;
}

.content__section2 {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__section2 h3 {
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 700;
}
.content__section2-info {
  margin-top: 90px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 103px;
}

.content__section1-arrow {
  width: 91px;
  height: 91px;
}
